/InvalidVariables/target/
/VariableDefinition/target/
/Concatenation/target/
/AbsoluteValue/target/
/Average/target/
/HighLow/nbproject/private/
/HighLow/build/
/HighLow/target/
/MethodOverloading/target/
/SalaryCountingWithMethods/target/
/Travel/target/